* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}



.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.home-container {
	padding: 20px;
	min-height: 100vh;
	background: #0B0C23 !important
}

.tabs-container {
	background: #fff;
	position: relative;
	min-height: 94vh;
	padding: 20px;
	border: 1px solid #8a8a8a;
}

.tab-label {
	color:  #8a8a8a;
}

.tab-label.black-text {
	color: #272727;
}


@font-face {
	font-family: 'tiempos';
	src: url('//andisor.com/cdn/shop/t/13/assets/tiempos-fine-medium.woff2?v=148494592994815269281688361246') format('woff2');
}